# Canonical author identity for display in git log and on the repository.
Mohammad Hossein Alikhani <mohammad.hosein.alikhani08@gmail.com> MHAlikhani <mohammad.hosein.alikhani08@gmail.com>
Mohammad Hossein Alikhani <mohammad.hosein.alikhani08@gmail.com> <mohammad.hosein.alikhani08@gmail.com>
